//Copyright (C)2014-2021 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8 Education
//Part Number: GW1NSR-LV4CQN48PC6/I5
//Device: GW1NSR-4C
//Created Time: Sat 06 11 14:49:38 2022

IO_LOC "led_out[3]" 27;
IO_PORT "led_out[3]" PULL_MODE=NONE DRIVE=8;
IO_LOC "led_out[2]" 28;
IO_PORT "led_out[2]" PULL_MODE=NONE DRIVE=8;
IO_LOC "led_out[1]" 29;
IO_PORT "led_out[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "led_out[0]" 30;
IO_PORT "led_out[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "UART_TX" 19;
IO_PORT "UART_TX" PULL_MODE=NONE DRIVE=8;
IO_LOC "reset_button" 15;
IO_PORT "reset_button" PULL_MODE=UP;
IO_LOC "xtal_clk" 45;
IO_PORT "xtal_clk" PULL_MODE=UP;
